.dashbaord
  .blue
    .row-fluid
      .span6.well
        %h3
          Flags
          .row-fluid
            .span6
              .btn.disabled.btn-success
                WWW Red Flag
            .span6
              .btn.disabled.btn-danger
                WWW Blue Flag
          .row-fluid
            .span6
              .btn.disabled.btn-warning
                SSH Red Flag
            .span6
              .btn.disabled.btn-success
                SSH Blue Flag
          .row-fluid
            .span6
              .btn.disabled.btn-warning
                E-Mail Red Flag
            .span6
              .btn.disabled.btn-danger
                E-mail Blue Flag
      .span6.well
        %h3
          Usability Reports
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th Points Earned
              %th Points Possible
          %tbody
            %tr
              %td 10:00 AM
              %td 220
              %td 250
            %tr
              %td Noon
              %td 245
              %td 250
    .row-fluid
      .span6.well
        %h3
          Services
          .row-fluid
            .span6
              .btn.disabled.btn-success
                E-Mail Server - SMTP
            .span6
              .btn.disabled.btn-success
                E-Mail Server - POP3

          .row-fluid
            .span6
              .btn.disabled.btn-success
                E-Mail Server - IMAP
            .span6
              .btn.disabled.btn-danger
                WWW Server - FTP
          .row-fluid
            .span6
              .btn.disabled.btn-danger
                WWW Server - HTTP
            .span6
              .btn.disabled.btn-success
                Wiki Server - HTTP
          .row-fluid
            .span6
              .btn.disabled.btn-success
                Remote Desktop Server
            .span6
              .btn.disabeld.btn-success.disabled
                JIRA Server - HTTP
      .span6.well
        %h3
          Intersion Reports
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th Points Earned
              %th Points Possible
          %tbody
            %tr
              %td 10:00 AM
              %td 8
              %td 10
            %tr
              %td Noon
              %td 8
              %td 10
