/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "bootstrap-responsive";
@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Lobster);

#body-wrapper {
	margin: 90px;

		a [class^="icon-"]:before, [class*=" icon-"]:before {
		font-size:15px;
		color:#fff;
	}


}

.brand {
	font-family: 'Lobster', cursive;

	a [class^="icon-"]:before, [class*=" icon-"]:before {
		font-size:24px;
		color:#fff;
	}
}


