<nav>
  <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
          <div class="container">
            <%= link_to "IScorE", "/", class: "brand" %>
            <ul class="nav">
              <li><%= link_to "Home", "#" %></li>
            </ul>
          </div>
       </div>
  </div>
</nav>